.bg{
    &-black{
        background-color: $color__black!important;
    }
    &-home{
        @include set-background($bg__home-img,0,"center","cover","scroll");
    }
    &-webinar{
        @include set-background($bg__webinar-img,0,"center","cover","fixed");
    }
}
.business{
    &-desc{
        @include set-background($bg__business-desc-img,0,"center left","cover","scroll");
    }
    &-ext{
        @include set-background($bg__business-ext-img,0,"center right","cover","scroll");
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
textarea{
    resize: none;
}