.bg{
    &-black{
        background-color: $color__black!important;
    }
}
.contact{
    &-bg{
        @include set-background($bg__contact-img,0,"top center","cover","fixed");
    }
}
.login{
    &-form{
        @include set-background($bg__login-img,0,"top left","cover","fixed");
    }
}
.opacity{
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.register{
    &-form{
        @extend .login-form;
    }
}
textarea{
    resize: none;
}